
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding:0;
    margin:0;
    
  

}
/* 





## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

### Primary

- Orange 500: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 100%, 100%)
- Grey 500: hsl(217, 12%, 63%)
- Grey 900: hsl(213, 19%, 18%)
- Grey 950: hsl(216, 12%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700



















*/
:root {
    --colorPrimaray:hsl(25, 97%, 53%);
    --colorWhite:hsl(0, 100%, 100%);
    --colorGrey500:hsl(217, 12%, 63%);
    --colorGrey900:hsl(213, 19%, 18%);
    --colorGrey950:hsl(216, 12%, 8%);
    --fontSize:15px;
    --fontFamily: "Overpass", sans-serif;
    --fontWeight1:400;
    --fontWeight2:700;
    --padding:10px;

}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorGrey950);
}

.containerParent {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--padding);
    

}

.containerParent > .container_1{
    width: 100%;
    height: 50%;
    transition: 0.5s display;
 
   
   

}
.containerParent > .container_1 > .raitingCard{
    width: 100%;
    height: 100%;
    display: grid;
    row-gap: calc(var(--padding) + 2px);
    padding: calc(var(--padding) + 10px);
    background-color: var(--colorGrey900);
    border-radius: 22px;
      
   


}
.containerParent > .container_1 > .raitingCard > .img_con {
    padding: calc((var(--padding) / 2) + 2px);
    width: fit-content;
    background-color: var(--colorGrey500);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerParent > .container_1 > .raitingCard > .img_con > img{
    width: 20px;
    height: 20px;
}


.containerParent > .container_1 > .raitingCard > h2 {
    width: fit-content;
    padding: calc(var(--padding) / 2) 0; 
    color: var(--colorWhite); 
    font-family: var(--fontFamily);
    font-weight: var(--fontWeight2);
     display: flex;
    align-items: center;
   
   
}
.containerParent > .container_1 > .raitingCard > h2::first-letter {
    text-transform: uppercase;
}
.containerParent > .container_1 > .raitingCard > p {
    width: fit-content;
    padding: calc(var(--padding) / 2) 0;
    color: var(--colorGrey500);
    font-family: var(--fontFamily);
    font-weight: var(--fontWeight1);
    font-size: var(--fontSize);
    text-align: left;
    line-height: 1.5;
   
}
.containerParent > .container_1 > .raitingCard > .rating_numbers{
display: flex;
justify-content: space-between;
padding: var(--padding);
}
.containerParent > .container_1 > .raitingCard > .rating_numbers > div {
    width:  40px;
    height: 40px;
    padding: calc(var(--padding) + 3px);
    color: var(--colorGrey500);
    background-color: var(--colorGrey900);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--fontWeight1);
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    background-color: var(--colorGrey950);
    cursor: pointer;

}

.containerParent > .container_1 > .raitingCard > button {
    padding: var(--padding) 5px;
    background-color: var(--colorPrimaray);
    color: var(--colorGrey950);
    font-family: var(--fontFamily);
    font-weight: var(--fontWeight2);
      font-size: var(--fontSize);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}





.containerParent > .container_2 {
      width: 100%;
      height: 50%;
     display:none; 
      transition: 0.5s display;
      
  
      


}
.containerParent > .container_2 > .thankCard {
  
    width: 100%;
    height: 100%;
    display: grid;
     row-gap: calc(var(--padding) + 2px);
    padding: calc(var(--padding) + 10px);
    background-color: var(--colorGrey900);
    border-radius: 22px;
        display: flex;
    flex-direction: column;
    align-items: center;
   


}




.containerParent > .container_2 > .thankCard > .img_con {
     width: fit-content;
    
    

}

.containerParent > .container_2 > .thankCard > .img_con img {
    width: 161px;
    height: 110px;

}
.containerParent > .container_2 > .thankCard > .message {
    display: flex;
   align-items: center;
   justify-content: center;
   min-width: 200px;
   max-width: 300px;
    height: 30px;
    padding: 0 calc(var(--padding) / 2);
    border-radius: 20px;
    color: var(--colorPrimaray);
      font-size: var(--fontSize);

}
.containerParent > .container_2 > .thankCard > h3 {
    width: fit-content;
    padding: calc(var(--padding) / 2) 0;
    color: var(--colorWhite); 
    font-family: var(--fontFamily);
    font-weight: var(--fontWeight2);
    font-size: var(--fontSize);
    display: flex;
    align-items: center;
    
   



}
.containerParent > .container_2 > .thankCard > h3::first-letter {
    text-transform: uppercase;
   
}
.containerParent > .container_2 > .thankCard > p {
    width: fit-content;
    padding: calc(var(--padding) / 2) 0;
    color: var(--colorGrey500);
    font-family: var(--fontFamily);
    font-weight: var(--fontWeight1);
    font-size: var(--fontSize);
    text-align: left;
    line-height: 1.5;
    text-align: center;

}
.containerParent > .container_1 > .raitingCard > button:hover, .containerParent > .container_1 > .raitingCard > .rating_numbers > div:hover{
    background-color: var(--colorWhite);
    transition: 0.4s background-color;

}
.containerParent > .container_1 > .raitingCard > .rating_numbers > div.active{

    background-color: var(--colorPrimaray);
    color: var(--colorWhite);
}

/* ------------------------------------------------ */

@media(min-width: 450px){
    
.containerParent > .container_1 > .raitingCard{
     padding: calc(var(--padding) * 3);




}
.containerParent > .container_1 > .raitingCard > .img_con {
     padding: calc((var(--padding) / 2) + 5px);

  
}
.containerParent > .container_1 > .raitingCard > .img_con > img{
   width: 25px;
   height: 25px;

}


.containerParent > .container_1 > .raitingCard > h2 {
    font-size: calc(var(--fontSize) + 10px);
    min-width: fit-content;
    padding: var(--padding) 0;
   
    
   
   
}

.containerParent > .container_1 > .raitingCard > p {
     font-size: calc(var(--fontSize) + 5px);
 
   
}

.containerParent > .container_1 > .raitingCard > .rating_numbers > div {
     width:  50px;
    height: 50px;
    padding: calc(var(--padding) + 4px);
     font-size: calc(var(--fontSize) + 5px);
 

}
.containerParent > .container_1 > .raitingCard > button {
     font-size: calc(var(--fontSize) + 5px);
      padding: var(--padding) 10px;
  
}




.containerParent > .container_2 > .thankCard {
      padding: calc(var(--padding) * 3);


}






.containerParent > .container_2 > .thankCard > .img_con img {
    width: 200px;
    height: 120px;
   

}
.containerParent > .container_2 > .thankCard > .message {
      font-size: calc(var(--fontSize) + 5px);
      min-width: 300px;
      max-width: 400px;
     height: 50px;
    padding: 10px var(--padding) ;
  

}
.containerParent > .container_2 > .thankCard > h3 {
      min-width: fit-content;
       font-size: calc(var(--fontSize) + 10px);
      padding: var(--padding) 0;

   
   



}

.containerParent > .container_2 > .thankCard > p {
     font-size: calc(var(--fontSize) + 5px);
   

}

}

/* ------------------------------------------------ */
@media(min-width:700px){

.containerParent > .container_1 > .raitingCard{
       padding: calc(var(--padding) * 3.5);
 



}
.containerParent > .container_1 > .raitingCard > .img_con {
     padding: calc((var(--padding) / 2) + 7px);
  

  
}
.containerParent > .container_1 > .raitingCard > .img_con > img{
 width: 30px;
 height: 30px;

}


.containerParent > .container_1 > .raitingCard > h2 {
    font-size: calc(var(--fontSize) + 15px); 
     padding: calc(var(--padding) + 3px)  0;
 
    
   
   
}

.containerParent > .container_1 > .raitingCard > p {
     font-size: calc(var(--fontSize) + 10px);
     
 
   
}

.containerParent > .container_1 > .raitingCard > .rating_numbers > div {
 
      width:  60px;
    height: 60px;
    padding: calc(var(--padding) + 8px);
     font-size: calc(var(--fontSize) + 10px);

}
.containerParent > .container_1 > .raitingCard > button {
         font-size: calc(var(--fontSize) + 10px);
     
  
}




.containerParent > .container_2 > .thankCard {
        padding: calc(var(--padding) * 3.5);
   


}






.containerParent > .container_2 > .thankCard > .img_con img {
        width: 280px;
    height: 180px;
  
   

}
.containerParent > .container_2 > .thankCard > .message {
     font-size: calc(var(--fontSize) + 10px);
      min-width: 400px;
      max-width: 450px;
     
  

}
.containerParent > .container_2 > .thankCard > h3 {
    

    font-size: calc(var(--fontSize) + 15px);
      padding: calc(var(--padding) + 3px) 0;
   



}

.containerParent > .container_2 > .thankCard > p {
    font-size: calc(var(--fontSize) + 10px);
    
   

}

}

/* ------------------------------------------------ */

@media(min-width:1000px){

.containerParent > .container_1 > .raitingCard{
       padding: calc(var(--padding) * 4);
 



}
.containerParent > .container_1 > .raitingCard > .img_con {
     padding: calc((var(--padding) / 2) + 10px);
  

  
}
.containerParent > .container_1 > .raitingCard > .img_con > img{
 width: 35px;
 height: 35px;

}


.containerParent > .container_1 > .raitingCard > h2 {
    font-size: calc(var(--fontSize) + 20px); 
     padding: calc(var(--padding) + 5px)  0;
 
    /*  */
   
   
}

.containerParent > .container_1 > .raitingCard > p {
     font-size: calc(var(--fontSize) + 15px);
     
 
   
}

.containerParent > .container_1 > .raitingCard > .rating_numbers > div {
 
      width:  65px;
    height: 65px;
    padding: calc(var(--padding) + 10px);
     font-size: calc(var(--fontSize) + 15px);

}
.containerParent > .container_1 > .raitingCard > button {
         font-size: calc(var(--fontSize) + 15px);
     
  
}




.containerParent > .container_2 > .thankCard {
         padding: calc(var(--padding) * 4);
   


}






.containerParent > .container_2 > .thankCard > .img_con img {
        width: 300px;
    height: 200px;
  
   

}
.containerParent > .container_2 > .thankCard > .message {
     font-size: calc(var(--fontSize) + 13px);
      min-width: 450px;
      max-width: 500px;
     
  

}
.containerParent > .container_2 > .thankCard > h3 {
    

     font-size: calc(var(--fontSize) + 20px); 
     padding: calc(var(--padding) + 5px)  0;
   



}

.containerParent > .container_2 > .thankCard > p {
    font-size: calc(var(--fontSize) + 15px);
    
   

}

}